@font-face { font-family: "AmaticSC"; src: url('/cetvrti-domaci/fonts/AmaticSC-Regular.ttf'); } 
@font-face { font-family: "AmaticSC"; font-weight: bold; src: url('/cetvrti-domaci/fonts/AmaticSC-Bold.ttf');}
